@mixin dropdown($bg: #e2e2e2) {
  @extend .rounded--xs;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #e2e2e2;
  appearance: none;
  position: relative;

  .item {
    @extend .rounded--xs;
    color: black;
    padding: 20px;
  }

  @include xs {
    font-size: $font-size-sm;
  }

  @include sm {
    font-size: $base-font-size;
  }

  @include xl {
    font-size: $font-size-xl;
  }
}

.dropdown {
  @include dropdown();
}

@each $key, $value in $colors {
  .dropdown--#{$key} {
    @include dropdown($colors);
  }
}
