%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  position: relative;

  .site--title {
    font-size: $font-size-lg;
  }

  .container {
    @extend %flex-layout;

    .navbar--mobile--btn {
      display: block;
      cursor: pointer;
      border: 1px solid white;
      padding: 1%;
      @extend .rounded--sm;
      @include md {
        display: none;
      }
    }

    .navbar--mobile--checked {
      height: 0px;
      width: 0px;
      opacity: 0;
      display: none;

      &:checked {
        ~ .items {
          display: flex;
        }
      }
    }

    .items {
      display: none;
      list-style: none;
      @extend .py--1;
      margin: 0px;
      gap: 0.5rem;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      top: 100%;
      left: 0px;
      background-color: white;
      position: absolute;
      z-index: 1;
      box-shadow: $base-box-shadow;

      .item {
        color: black;
        padding-left: 20px;
        display: flex;
        align-items: center;
        height: 100%;
        &:first-child {
          border: none;
        }
        @include md {
          color: white;
        }
      }

      @include md {
        display: flex;
        position: inherit;
        width: fit-content;
        background-color: unset;
        box-shadow: none;
        flex-direction: row;
        gap: 1rem;
      }

      .item {
        cursor: pointer;
      }
    }
  }
}

@each $key, $val in $colors {
  .navbar--#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
