@mixin generateRelativeView($max-view: 6) {
  $min-pourcentage: calc(100% / $max-view);
  @for $i from 1 through $max-view {
    .h--#{$i}-#{$max-view} {
      height: $min-pourcentage * $i;
    }

    .w--#{$i}-#{$max-view} {
      width: $min-pourcentage * $i;
    }

    @each $keyBreakpoints, $valueBreakpoints in $breakpoints {
      @media screen and (min-width: $valueBreakpoints) {
        .#{$keyBreakpoints}--h--#{$i}-#{$max-view} {
          height: $min-pourcentage * $i !important;
        }

        .#{$keyBreakpoints}--w--#{$i}-#{$max-view} {
          width: $min-pourcentage * $i !important;
        }
      }
    }
  }
}

//relativeView
//max view 6
@include generateRelativeView(6);
//max view 12
@include generateRelativeView(12);

@for $i from 0 through 100 {
  //margins
  //margin
  .m--#{$i} {
    margin: ($base-margin * $i);
  }

  //margin-left
  .ml--#{$i} {
    margin-left: ($base-margin * $i);
  }

  //margin--right
  .mr--#{$i} {
    margin-right: ($base-margin * $i);
  }

  //margin-left & margin-right
  .mx--#{$i} {
    margin-right: ($base-margin * $i);
    margin-left: ($base-margin * $i);
  }

  //margin--top
  .mt--#{$i} {
    margin-top: ($base-margin * $i);
  }

  //margin-bottom
  .mb--#{$i} {
    margin-bottom: ($base-margin * $i);
  }

  //margin-top & margin-bottom
  .my--#{$i} {
    margin-top: ($base-margin * $i);
    margin-bottom: ($base-margin * $i);
  }

  //paddings
  .p--#{$i} {
    padding: $base-padding * $i;
  }

  //padding-left
  .pl--#{$i} {
    padding-left: $base-padding * $i;
  }

  //padding-right
  .pr--#{$i} {
    padding-right: $base-padding * $i;
  }

  //padding-right & padding-left
  .px--#{$i} {
    padding-right: $base-padding * $i;
    padding-left: $base-padding * $i;
  }

  //padding top
  .pt--#{$i} {
    padding-top: $base-padding * $i;
  }

  //padding bottom
  .pb--#{$i} {
    padding-bottom: $base-padding * $i;
  }

  //padding-bottom & padding-top
  .py--#{$i} {
    padding-top: $base-padding * $i;
    padding-bottom: $base-padding * $i;
  }

  //height
  .h--#{$i} {
    height: $base-height * $i;
  }

  //min-height
  .min--h--#{$i} {
    min-height: $base-height * $i;
  }

  //min-width
  .min--w--#{$i} {
    min-width: $base-width * $i;
  }

  //width
  .w--#{$i} {
    width: $base-width * $i;
  }

  .gap--#{$i} {
    gap: $base-gap * $i;
  }

  .top--#{$i} {
    top: $i "%";
  }

  .left--#{$i} {
    left: $i "%";
  }
  //breakpoints utilities

  @each $keyBreakpoints, $valueBreakpoints in $breakpoints {
    @media screen and (min-width: $valueBreakpoints) {
      //margins
      //margin
      .#{$keyBreakpoints}--m--#{$i} {
        margin: ($base-margin * $i) !important;
      }

      //margin-left
      .#{$keyBreakpoints}--ml--#{$i} {
        margin-left: ($base-margin * $i) !important;
      }

      //margin--right
      .#{$keyBreakpoints}--mr--#{$i} {
        margin-right: ($base-margin * $i) !important;
      }

      //margin-left & margin-right
      .#{$keyBreakpoints}--mx--#{$i} {
        margin-right: ($base-margin * $i) !important;
        margin-left: ($base-margin * $i) !important;
      }

      //margin--top
      .#{$keyBreakpoints}--mt--#{$i} {
        margin-top: ($base-margin * $i) !important;
      }

      //margin-bottom
      .#{$keyBreakpoints}--mb--#{$i} {
        margin-bottom: ($base-margin * $i) !important;
      }

      //margin-top & margin-bottom
      .#{$keyBreakpoints}--my--#{$i} {
        margin-top: ($base-margin * $i) !important;
        margin-bottom: ($base-margin * $i) !important;
      }

      //paddings
      .#{$keyBreakpoints}--p--#{$i} {
        padding: $base-padding * $i !important;
      }

      //padding-left
      .#{$keyBreakpoints}--pl--#{$i} {
        padding-left: $base-padding * $i !important;
      }

      //padding-right
      .#{$keyBreakpoints}--pr--#{$i} {
        padding-right: $base-padding * $i !important;
      }

      //padding-right & padding-left
      .#{$keyBreakpoints}--px--#{$i} {
        padding-right: $base-padding * $i !important;
        padding-left: $base-padding * $i !important;
      }

      //padding top
      .#{$keyBreakpoints}--pt--#{$i} {
        padding-top: $base-padding * $i !important;
      }

      //padding bottom
      .#{$keyBreakpoints}--pb--#{$i} {
        padding-bottom: $base-padding * $i !important;
      }

      //padding-bottom & padding-top
      .#{$keyBreakpoints}--py--#{$i} {
        padding-top: $base-padding * $i !important;
        padding-bottom: $base-padding * $i !important;
      }

      //height
      .#{$keyBreakpoints}--h--#{$i} {
        height: $base-height * $i !important;
      }

      //min-height
      .#{$keyBreakpoints}--min--h--#{$i} {
        min-height: $base-height * $i !important;
      }

      //min-width
      .#{$keyBreakpoints}--min--w--#{$i} {
        min-width: $base-width * $i !important;
      }

      //width
      .#{$keyBreakpoints}--w--#{$i} {
        width: $base-width * $i !important;
      }

      .#{$keyBreakpoints}--gap--#{$i} {
        gap: $base-gap * $i !important;
      }

      .#{$keyBreakpoints}--top--#{$i} {
        top: $i "%" !important;
      }

      .#{$keyBreakpoints}--left--#{$i} {
        left: $i "%" !important;
      }
    }
  }
}

//borders
//border radius
@each $borderRadiusKey, $borderRadiusValue in $rounded {
  .rounded--#{$borderRadiusKey} {
    border-radius: $borderRadiusValue;
  }

  @each $keyBreakpoints, $valueBreakpoints in $breakpoints {
    .#{$keyBreakpoints}--rounded--#{$borderRadiusKey} {
      border-radius: $borderRadiusValue !important;
    }
  }
}

//border style
@each $borderStyleValue in $border-style {
  .border--#{$borderStyleValue} {
    border-style: $borderStyleValue;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--border--#{$borderStyleValue} {
        border-style: $borderStyleValue !important;
      }
    }
  }
}

//displays
@each $val in $displays {
  .d--#{$val} {
    display: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--d--#{$val} {
        display: $val !important;
      }
    }
  }
}

//flex alignement
@each $val in $align-items {
  .items--#{$val} {
    align-items: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--items--#{$val} {
        align-items: $val !important;
      }
    }
  }
}

// justify content classes
@each $val in $layout-values {
  .justify--#{$val} {
    justify-content: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--justify--#{$val} {
        justify-content: $val !important;
      }
    }
  }
}

//font-size
@each $keyFont, $val in $font-size {
  .text--#{$keyFont} {
    font-size: $base-font-size * $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--text--#{$keyFont} {
        font-size: $base-font-size * $val !important;
      }
    }
  }
}

//flex-direction
@each $val in $flex-direction {
  .f--direction--#{$val} {
    flex-direction: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--f--direction--#{$val} {
        flex-direction: $val !important;
      }
    }
  }
}

//heights
@each $keyHeights, $val in $heights {
  .h--#{$keyHeights} {
    height: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--h--#{$keyHeights} {
        height: $val !important;
      }
    }
  }
}

//widths
@each $keyWidths, $val in $widths {
  .w--#{$keyWidths} {
    width: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--w--#{$keyWidths} {
        width: $val !important;
      }
    }
  }
}

//shadows
@each $keyShadows, $val in $shadows {
  .shadow--#{$keyShadows} {
    box-shadow: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--shadow--#{$keyShadows} {
        box-shadow: $val !important;
      }
    }
  }
}

//floats
@each $keyFloats, $val in $floats {
  .shadow--#{$keyFloats} {
    float: $val;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--shadow--#{$keyFloats} {
        float: $val !important;
      }
    }
  }
}

//texts
//text transform
@each $keyPosition, $val in $text-transform {
  .transform--#{$val} {
    text-transform: $val;
  }

  .first--letter--transform--#{$val} {
    &::first-letter {
      text-transform: $val;
    }
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--transform--#{$val} {
        text-transform: $val !important;
      }

      .#{$keyBreakpoints}--first--letter--transform--#{$val} {
        &::first-letter {
          text-transform: $val !important;
        }
      }
    }
  }
}

//text align
@each $keyAlign in $text-align {
  .align--#{$keyAlign} {
    text-align: $keyAlign;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--align--#{$keyAlign} {
        text-align: $keyAlign !important;
      }
    }
  }
}

//position
@each $keyPosition in $position {
  .position--#{$keyPosition} {
    position: $keyPosition;
  }

  @each $keyBreakpoints, $valueBreakpoint in $breakpoints {
    @media screen and (min-width: $valueBreakpoint) {
      .#{$keyBreakpoints}--position--#{$keyPosition} {
        position: $keyPosition !important;
      }
    }
  }
}

